video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    -o-filter: blur(15px);
    filter: blur(5px);
    object-fit: cover;
    transform: scale(1.1);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
    object-fit: contain;
}

.container > h1 {
    color: white;
    font-size: 50px;
    margin-top: -300px;
}

.container > p {
    margin-top: -10px;
    color: white;
    font-size: 25px;
    font-family: Tahoma, 'Arial Narrow Bold', sans-serif;
}

.container > a {
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    border: 1px solid;
    transition: all 0.5s ease-out;
}

.container > a:hover {
    font-size: 22px;
    cursor: pointer;
    color: black;
    background: rgb(255,255,255,0.8);
    transition: 0.55s;
}

@media screen and (max-width: 960px) {
    .container > h1 {
        font-size: 40px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 760px) {
    .container > h1 {
        font-size: 30px;
        margin-top: -150px;
    }
}