.cards {
    padding: 4rem;
    background: #050505;
}

.cards h2 {
    letter-spacing: 1px;
    font-size: 20px;
    margin-left: 110px;
    font-family: Tahoma, 'Arial Narrow Bold', sans-serif;
    background: #00FF7F;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cards h1 {
    font-size: 35px;
    color: #fff;
    margin-top: -7px;
    margin-left: 110px;
    margin-bottom: 30px;
    font-family: Tahoma, 'Arial Narrow Bold', sans-serif;
}

.stockGif img{
    position: relative;
    margin-top: 70px;
    margin-left: 490px;
    height: 150px;
}

.cards__container {
    margin-left: 320px;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
}
  
.cards__wrapper {
    position: relative;
    margin: 50px 10 45px;
}
  
.cards__items {
    margin-bottom: 24px;
}

.cards__item {
    display: flex;
    flex: 1;
    margin: 0 2rem;
    flex-flow: column;
    width: 100%;
    margin-left: 10px;
    box-shadow: 0 6px 20px rgba(256, 256, 256, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(256, 256, 256, 0.017));
    filter: drop-shadow(0 6px 20px rgba(256, 256, 256, 0.017));
    border-radius: 30px;
    overflow: hidden;
    text-decoration: none;
}
  
.cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    border: none;
    margin: 0; 
}
  
.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}
  
.cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #FF3131;
    box-sizing: border-box;
    font-family: Tahoma, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}
  
.cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
    border: none;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}
  
.cards__item__img:hover {
    transform: scale(1.1);
}
  
.cards__item__info {
    padding: 10px 30px 10px;
}
  
.cards__item__text {
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-family: Tahoma, 'Arial Narrow Bold', sans-serif;
}
  
@media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
}
  
@media only screen and (min-width: 1024px) {
    .cards__items {
        display: flex;
        margin: 0 1rem;
    }
}
  
@media only screen and (max-width: 1024px) {
    .cards__item {
        width: 50%;
        margin-left: -130px;
        margin-bottom: 1rem;
    }

    .stockGif img{
        margin-top: 70px;
        margin-left: 20px;
        height: 150px;
    }
}

@media screen and (max-width: 960px) {
    .cards > h1 {
        font-size: 25px;
        margin-left: 20px;
    }
    .cards > h2 {
        letter-spacing: 0.5px;
        font-size: 18px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 760px) {
    .cards > h1 {
        font-size: 25px;
        margin-top: 0px;
        margin-left: 20px;
    }
    .cards > h2 {
        letter-spacing: 0.5px;
        font-size: 15px;
        margin-left: 20px;
    }
}