<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <title>User Input Form</title>
</head>

<body>
    <div class='navigation'>
        <div class="title">
            <a href="/" style="text-decoration: none; color: white;">FinScrap</a>
        </div>
        <div class="navButtons">
            <a href="/features" style="text-decoration: none; color: white;">Features</a>
            <a href="/about" style="text-decoration: none; color: white;">About Us</a>
            <a href="https://finance.yahoo.com/" style="text-decoration: none; color: white;">View Market </a>
        </div>
    </div>
    <form name="passData" action="." method="post">
        <label>Search Stock Anaylsis</label>
        <input type="text" name="ticker" placeholder="Enter a ticker...">
        <input type="submit" value="submit">
    </form>
    <p>{{ind}}</p>
    <img src="{{ url_for('static', filename='images/happy.png') }}" alt="Happy Image">
</body>

</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seaborn Plot</title>
</head>
<body>
    <h1>Seaborn Plot</h1>
    
    <!-- Include the saved image -->
    <img src = "C:\Users\HP\Desktop\Hackathon\seaborn_plot.png" alt = "Seaborn Plot">
</body>
</html>
