<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Input Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<form name="passData" action="." method="post">
    <label>Enter a ticker:</label>
<input type="text" name="ticker">
        <input type="submit" value="submit">
</form>

<h1>{{ind}}</h1>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seaborn Plot</title>
</head>
<body>
    <h1>Seaborn Plot</h1>
    
    <!-- Include the saved image -->
    <img src = "C:\Users\HP\Desktop\Hackathon\seaborn_plot.png" alt = "Seaborn Plot">
</body>
</html>
